/* 导航栏样式 */
.head{
  position:fixed;
  width: 100%;
  top: 0px;
  background-color: #4A4A4A;
  z-index: 999;
}
.navbar {
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
  }
.navbar a:link, a:visited{
  color: white;
  text-decoration: none;
}
.headhome{
  font-weight: bold;
  display: block;
  float: left;
  padding: 15px 0.8%;
  }
.headlink{
  display: block;
  float: right;
  padding: 15px 0.8%;
  font-size: 12px;
  }
/* 页脚样式 */
.foot{
  bottom: 0; 
  padding: 0px;  
  font-size:small; 
  color: rgb(128,128,128)
}
/* 整体样式 */
   body {
     margin: 0;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     font-family: Verdana, sans-serif;
   }
/* blog标题样式 */
  #blogtitle{
    margin-bottom: 10px;
  }
  #bloginfo{
    font-size:small;
  }
  .titleline{
    margin-top: 5px;
    height: 1px;
  }
/* 正文区块样式 */
.container{
  margin: 0 auto;
  margin-top: 56px;/* 顶端防止导航栏遮挡 */
  flex:1;
}
/* 链接颜色 */
p a:link, a:visited{
  color:#0000EE;
  text-decoration: none;
  }
/* 分割线 */
.seperate{
  width: 80%; 
  height: 1px;
  margin: 40px auto
}
/* 数学定理区块样式 */
.thm {
  padding: 30px 0;
/*   font-style: italic; */
}
/* MathJax长公式滚动条 */
mjx-container[jax="SVG"][display="true"] {
  overflow-x: auto;
  overflow-y: hidden;
  /*  带标签\tag{}的公式能正常显示滚动条  */
  min-width: 0 !important;
}
/* 跳转模块样式 */
.nextlink {
  padding: 30px 0px;
}
/* 评论区样式 */
.comment {
  padding-top: 20px;
}
/* 按钮样式 */
#print-button {
  background-color: white;
  border: none;
  color: blue;
  font-size: 17px;
}
.navbar, .comment, .foot, #bottom {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container, .comment, .foot, #bottom {
    width: 85%; /* 在小屏幕下将宽度设置为85% */
  }
  .navbar {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container, .comment, .foot, #bottom {
    width: 50%; /* 在大屏幕下将宽度设置为50% */
  }
  .navbar {
    width: 55%;
  }
}
