/* 导航栏样式 */
.head{
  position:fixed;
  width: 100%;
  top: 0px;
  background-color: #cccccc;
  z-index: 999;
}
.navbar {
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
  }
.navbar a:link, a:visited{
  color: black;
  text-decoration: none;
}
.headhome{
  font-weight: bold;
  display: block;
  float: left;
  padding: 15px 1%;
  }
.headlink{
  display: block;
  float: right;
  padding: 15px 1%;
  }
/* .headline{
  width: 100%; 
  height: 1px; 
  margin-top: 0px; 
  border-width: 1px 0px 0px 0px;
} */
/* 页脚样式 */
.foot{
  bottom: 0; 
  padding: 0px;  
  font-size:small; 
  color: rgb(128,128,128)
}
/* 整体样式 */
   body {
     margin: 0;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     font-family: Verdana, 'Microsoft YaHei', sans-serif;
   }
/* blog标题样式 */
  #blogtitle{
    margin-bottom: 10px; margin-top: 16px;
  }
  #bloginfo{
    font-size:small;
  }
  .titleline{
    margin-top: 5px;
    height: 1px;
    border-width: 1px 0px 0px 0px;
  }
/* 正文区块样式 */
.container{
  margin: 0 auto;
  margin-top: 55px;/* 顶端防止导航栏遮挡 */
  flex:1;
}
/* 链接颜色 */
p a:link, a:visited{
  color:#0000EE;
  text-decoration: none;
  }
/* 版面分割线 */
.borderline {
  height: 1px
  border-width: 1px 0px 0px 0px;
}
/* 段落分割线 */
.seperate{
  width: 80%; 
  height: 1px;
  margin: 40px auto;
  border-width: 1px 0px 0px 0px;
}
/* 标准斜体 */
i {
  font-style: italic;
}
/* 数学定理区块样式 */
.thm {
  padding: 25px 12px;
  background-color: rgba(17, 87, 64, 0.2);
  /* background-color: #e4e4ff; */ 
/*   font-style: italic; */
}
/* MathJax长公式滚动条 */
mjx-container[jax="SVG"][display="true"] {
  overflow-x: auto;
  overflow-y: hidden;
  /*  带标签\tag{}的公式能正常显示滚动条  */
  min-width: 0 !important;
}
/* 评论区样式 */
.comment {
  padding-top: 20px;
}
.navbar, .comment, .foot, #bottom {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container, .comment, .foot, #bottom {
    width: 85%; /* 在小屏幕下将宽度设置为85% */
  }
  .navbar {
    width: 100%;
  }
  .headlink, .headhome{
    font-size: 14px /* 小屏幕下调小导航栏字体 */
  }
}
@media (min-width: 768px) {
  .container, .comment, .foot, #bottom {
    width: 50%; /* 在大屏幕下将宽度设置为50% */
  }
  .navbar {
    width: 55%;
  }
  .headlink, .headhome{
    font-size: 16px
  }
}
